.video-table-item__wrapper {
    cursor: pointer;
}

.video-table-item__wrapper:hover {
    background: #EEEEEE;
}

.video-table-item__text-field {
    max-width: 200px;
    white-space: nowrap;
    overflow: hidden;
    padding: 5px;
    text-overflow: ellipsis;
}

.videoThumbnailImg {
    background-color: #616161;
    width: 120px;
    object-fit: contain;
}